{
  Hostname = "Current-Hostname";
  Timezone = "Asia/Bangkok";
  PUID = "1000";
  PGID = "1000";
  Email = "YourEmail@example.com";
  Domain = "local.network.me";
  ContainerPath = "/containers";
  MediaPath = "/mnt/media";
  GitUser = "Harumi";
  GitEmail = "YourEmail@example.com";
}
